<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/common.css">
    <title th:text="|${username} space|"></title>
</head>
<body>

<nav th:replace="~{common/admin-common::admin-navbar}"></nav>

<div class="center-wrapper" style="padding-top: 1rem;padding-bottom: 1rem">
    <div>
        <p class="h4">退出登录</p>
        <button class="btn btn-danger" onclick="window.location.href='/admin/logout'">退出</button>
    </div>
    <div style="margin-top: 1rem">
        <p class="h4">修改密码</p>
        <div class="form-group form-inline">
            <p class="m-0">当前账号: <span class="text-danger font-weight-bold" th:text="${username}"></span></p>
        </div>
        <div class="form-group form-inline">
            <label for="old-password" class="mr-2">输入旧密码:</label>
            <input type="password" class="form-control" id="old-password" maxlength="20">
        </div>
        <div class="form-group form-inline">
            <label for="new-password" class="mr-2">输入新密码:</label>
            <input type="password" class="form-control" id="new-password" maxlength="20">
        </div>
        <div class="form-group form-inline">
            <label for="re-new-password" class="mr-2" >确认新密码:</label>
            <input type="password" class="form-control" id="re-new-password" maxlength="20">
        </div>
        <div>
            <button class="btn btn-primary" id="btn-account-change">修改</button>
        </div>
    </div>
    <div style="margin-top: 1rem" sec:authorize="hasRole('ROLE_GOD')">
        <p class="h4">创建账号</p>
        <div class="form-group form-inline">
            <label for="username-create" class="mr-2">输入账号:</label>
            <input type="text" class="form-control" id="username-create" maxlength="20">
        </div>
        <div class="form-group form-inline">
            <label for="password-create" class="mr-2">输入密码:</label>
            <input type="password" class="form-control" id="password-create" maxlength="20">
        </div>
        <div class="form-group form-inline">
            <label for="re-password-create" class="mr-2">确认密码:</label>
            <input type="password" class="form-control" id="re-password-create" maxlength="20">
        </div>
        <div>
            <button class="btn btn-primary" id="btn-account-create">创建</button>
        </div>
        <!-- spinner -->
        <div th:replace="~{common/admin-common::admin-spinner}"></div>
    </div>
</div>
<script src="/js/api/JQuery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="/js/util.js"></script>
<script src="/js/adminSpace.js"></script>
</body>
</html>