body{
    background-color: #606061;
}

.main-container{
    width: 1080px;
    background-color: #292929;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}


/******************** top area ********************/
.top-area{
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 50px 50px;
}

.logo-area,
.account-area,
.nav-area,
.search-area,
.notification-area{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-area{
    grid-column-start: 1;
    grid-column-end: 5;
}

.account-area{
    justify-content: flex-end;
    grid-column-start: 5;
    grid-column-end: 6;
}

.nav-area{
    grid-column-start: 1;
    grid-column-end: 5;
}

.nav-area>nav>div>a{
    color: white;
}

.search-area{
    grid-column-start: 5;
    grid-column-end: 6;
}

.notification-area{
    border: 2px solid darkred;
    justify-content: center;
    margin: 5px;
    grid-column-start: 1;
    grid-column-end: 6;
}

@media screen and (max-width: 768px) {
    .main-container{
        width: 100%;
    }

    .top-area{
        height: 240px;
        grid-template-rows: 100px 50px 50px 40px;
    }

    .logo-area{
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .account-area{
        justify-content: flex-end;
        grid-column-start: 4;
        grid-column-end: 6;
    }

    .nav-area{
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .search-area{
        grid-column-start: 1;
        grid-column-end: 6;
    }
}