<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/user/nav.css">
    <link rel="stylesheet" href="/css/user/detail.css">
    <title th:text="${anime.getChineseName()}"></title>
</head>
<body>

<div class="main-container">
    <div th:replace="~{common/user-common::nav('detail')}"></div>
    <div class="content-container">
        <div class="left-area">
             <div class="cover-info-area">
                 <div class="cover-area">
                     <div>
                         <img th:src="${anime.getCoverUrl()}" style="width: 100%;height: auto" alt="cover">
                     </div>
                 </div>
                 <div class="basic-info-area">
                     <h5 class="text-secondary mb-3">基本信息:</h5>
                     <span id="anime-id" th:text="${anime.getAnimeId()}" style="display: none"></span>
                     <p>原版名称: &nbsp;<span th:text="${anime.getOriginalName()}"></span></p>
                     <p>首播时间: &nbsp;<span th:text="${#dates.format(anime.getReleasedDate(), 'yyyy-MM-dd')}"></span></p>
                     <p>剧情类型: &nbsp;<span th:each="type:${anime.getTypes()}" th:text="|${type}  |"></span></p>
                     <p>播放状态: &nbsp;<span th:text="${anime.getStatus()}"></span></p>
                     <p th:if="${likeExist} != null"><button th:aria-label="(${likeExist} == 0)?'like':'delete'" id="anime-like-btn"
                                class="btn-sm btn-secondary" th:text="(${likeExist} == 0)?'点击收藏':'取消收藏'"></button></p>
                 </div>
             </div>
             <div class="related-area">
                 <h5 class="text-secondary mb-3">相关动画:</h5>
                 <ul class="list-unstyled" th:if="${relation != null}">
                     <li th:if="${relatedAnime.getAnimeId() != anime.getAnimeId()}" th:each="relatedAnime:${relation.getAnimeList()}">
                         <a th:href="|/detail/${relatedAnime.getAnimeId()}|" th:text="${relatedAnime.getChineseName()}"></a>
                     </li>
                 </ul>
             </div>
        </div>
        <div class="right-area">
             <div class="intro-area">
                 <h5 style="border-bottom: 1px solid #646160;padding-bottom: 1rem" th:text="${anime.getChineseName()}"></h5>
                 <p style="border-bottom: 1px solid #646160;padding: 1rem 0" th:text="${anime.getIntroduction()}"></p>
             </div>
             <br>
             <div class="episode-area">
                 <h5 class="text-secondary mb-3">播放列表:</h5>
                 <ul class="list-unstyled">
                     <li th:each="episode:${episodeList}" >
                         <a th:href="|/play/${anime.getAnimeId()}/${episode.getMd5()}|" th:text="${episode.getEpisodeNumber()}"></a>
                     </li>
                 </ul>
             </div>
            <div class="related-recommend-area">
                <h5 class="text-secondary mb-3">相关推荐:</h5>
                <div class="recommend-items-container">
                    <div class="recommend-items-area" th:each="related:${relatedList}">
                        <div>
                            <a th:href="|/detail/${related.getAnimeId()}|">
                                <img th:src="${related.getCoverUrl()}" alt="cover">
                            </a>
                            <div class="anime-name">
                                <a class="text-white" th:href="|/detail/${related.getAnimeId()}|" th:text="${related.getChineseName()}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="~{common/user-common::comment-area}"></div>
        </div>
    </div>
</div>

<script src="/js/api/JQuery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="/js/util.js"></script>
<script src="/js/commentEvent.js"></script>
<script src="/js/likeEvent.js"></script>
<script>
    $(document).ready(function () {
       $('#anime-like-btn').click(function () {
           let tmp = this;
           let label = tmp.getAttribute('aria-label');
           sendLikeInfo(label === 'like'?"/insertLike":"/deleteLike", $('#anime-id').text(), function () {
               $(tmp).attr('disabled',true);
           },function () {
               $(tmp).attr('disabled',false);
           },function () {
               if(label === 'like'){
                   $(tmp).text('取消收藏');
                   tmp.setAttribute('aria-label','delete');
               }else{
                   $(tmp).text('点击收藏');
                   tmp.setAttribute('aria-label','like');
               }
           });
       });
    });
</script>
</body>
</html>